<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>HUFS Dorm Laundry Reservation</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <header class="navbar">
    <div class="logo-container">
     <img src="{% static '상징 미네르바 활용형.jpg' %}" class="logo-img" />
      <div class="logo-text">
        Hufs Dorm<br><span>Laundry Reservation</span>
      </div>
    </div>
    <nav class="nav-menu">
      <ul class="nav-links">
        <li><a href="{% url 'index_page' %}">홈</a></li>
        <li><a href="laundry_page.html">예약하기</a></li>
        <li><a href="#">이용안내</a></li>
        <li><a href="#">My Page</a></li>
      </ul>
    </nav>
     <a class="login-btn" href="/laundry/login/">Log In</a>
  </header>

  <main class="main-section">
    <div class="overlay">
      <h1 class="reserve-text">세탁기 현황</h1>
      <div class="machine-grid">
        <div class="machine-card machine-available">
          <h2 class="text-xl font-bold">세탁기 1호기</h2>
          <p class="machine-status available">✅ 사용 가능</p>
          <p class="machine-time">최근 종료: 13:33</p>
          <button class="machine-btn">지금 예약</button>
        </div>

        <div class="machine-card machine-in-use">
          <h2 class="text-xl font-bold">세탁기 2호기</h2>
          <p class="machine-status in-use">❌ 사용 중</p>
          <p class="machine-time">종료 예정: 13:34</p>
          <button class="machine-btn disabled" disabled>예약 불가</button>
        </div>

        <div class="machine-card machine-available">
          <h2 class="text-xl font-bold">세탁기 3호기</h2>
          <p class="machine-status available">✅ 사용 가능</p>
          <p class="machine-time">최근 종료: 13:35</p>
          <button class="machine-btn">지금 예약</button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
